* {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #4f80b4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; 
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: #ede6db;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 25px 10px 1px 10px #72727268;
    width: 90vw;
    max-width: 400px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 15px;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #2f4843;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    width: 100%;
    height: 100%;
}

button.numero {
    background-color: #517091;
}

button.operador {
    background-color: #f97b26;
}

button.col-2 {
    background-color: rgb(36, 46, 78);
    grid-column: span 2;
}

button:active {
    background-color: #02231b;
}

button:focus {
    outline: none;
}
.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    height: 15vh;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(90deg, rgba(113,142,72,1) 0%, rgba(168,189,140,1) 51%, rgba(138,162,105,1) 100%);
    border-radius: 15px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #61616160;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    margin-bottom: 30px;
    
    
    
    
}

#valor-actual {
    color: #343434;
    font-size: 1.3em;
    font-family: 'Press Start 2P', cursive;
}

#valor-anterior {
    color: #343434;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.6em;
    margin-bottom: 10px;
    
}